<div class="prdt">
  <div class="container">
    <div class="col-md-12"> 
<h1>Generate JWT token!</h1>

<%= form_tag generate_token_path, method: :post do %>
  <%= submit_tag "Generate", class: "btn btn-success" %>
<% end %>

<% if @jwt_token.present? %>
  <h2>JWT token:</h2>
  <textarea rows="5" readonly><%= @jwt_token %></textarea>
<% end %>
</div>
</div>
</div>